@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/bg.jpeg);
  color: #151b31;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: rgb(255, 245, 245);
  max-width: 350px;
  width: 100%;
  border-radius: 15px;
}

.card-bg {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  background-image: url(./img/bg-pattern.jpeg);
  color: #151b31;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-bg img {
  background-color: #fff;
  position: absolute;
  top: 60%;
  left: 35%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #151b31;
  transition: 0.25s ease background;
}

#myFileInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.card-bg .editblock {
  background-color: #151b3175;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid red;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 35%;
  text-align: center;
  padding-top: 40px;
  color: #fff;
  font-weight: bold;
}

.card-bg .editblock i {
  color: #dedede;
  position: absolute;
  top: 40%;
  left: 15%;
}

.card-bg .editblock:hover {
  opacity: 1;
}

.card-body {
  margin: 65px 0px 10px;
  text-align: center;
}

.info-age {
  color: #5e5c5c;
}

.info-city {
  color: #dedede;
}

.info-soc {
  border-top: 2px solid #dedede;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.info-followers,
.info-likes,
.info-photos {
  margin-top: 20px;
}

.info-num {
  font-weight: bold;
  font-size: 18px;
}
